@import "tailwindcss";
@plugin "flyonui" {
  themes: dark --default;
}
@plugin "@iconify/tailwind4";
@import "../node_modules/flyonui/variants.css";
@source "../node_modules/flyonui/dist/js/index.js";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
